.oauth-github-login {
  display: block;
  margin-top: 1em;
  text-align: center;
}

.button-login > img {
  float: left;
  height: 18px;
  padding: 0 4px 0 0;
}
.button-login > span {
  line-height: 20px;
}
