---
name: CI

on:
  pull_request:
  push:


concurrency:
  group: ${{ github.ref_name }}
  cancel-in-progress: true

jobs:
  ruby:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        ruby:
          - '3.0'
          - '3.1'
          - '3.2'
          - '3.3'
        redmine:
          - '5.0-stable'
          - '5.1-stable'
          - '6.0-stable'
          - '6.1-stable'
          - 'master'
        exclude:
          - ruby: '3.2'
            redmine: '5.0-stable'
          - ruby: '3.3'
            redmine: '5.0-stable'
          - ruby: '3.3'
            redmine: '5.1-stable'
          - ruby: '3.0'
            redmine: '6.0-stable'
          - ruby: '3.0'
            redmine: '6.1-stable'
          - ruby: '3.1'
            redmine: '6.1-stable'
          - ruby: '3.0'
            redmine: 'master'
          - ruby: '3.1'
            redmine: 'master'
    steps:
      - uses: actions/checkout@v6
        with:
          repository: 'redmine/redmine'
          ref: ${{ matrix.redmine }}
      - uses: actions/checkout@v6
        with:
          path: plugins/redmine_omniauth_github
      - name: Setup Database
        run: "printf 'test:\n  adapter: sqlite3\n  database: db/redmine.sqlite3' > config/database.yml"
      - name: Setup Ruby
        uses: ruby/setup-ruby@v1
        with:
          ruby-version: ${{ matrix.ruby }}
          bundler-cache: true
      - name: Archive Gemfile.lock
        uses: actions/upload-artifact@v6
        with:
          name: Gemfile-${{ matrix.ruby }}-${{ matrix.redmine }}.lock
          path: Gemfile.lock
      - name: Setup redmine
        run: bundle exec rake db:drop db:create db:migrate redmine:plugins:migrate redmine:load_default_data
        env:
          RAILS_ENV: test
          REDMINE_LANG: en
      - name: Run tests
        run: bundle exec rake redmine:plugins:test NAME=redmine_omniauth_github
        env:
          RAILS_ENV: test
      - name: Run zeitwerk:check
        run: bundle exec rake zeitwerk:check
        if: matrix.redmine != '4.2-stable'
        env:
          RAILS_ENV: test
